<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Sistema Contable</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/auth.css}">

</head>
<body>
<h1 class="main-title">
    <img th:src="@{/img/logo.svg}" style="height: 40px; vertical-align: middle; margin-right: 10px;">ONEDI
</h1>
<div class="container" id="container" th:classappend="${activePanel}=='register' ? ' right-panel-active' : ''">
    <div class="form-container sign-in-container">
        <form th:action="@{/usuarios/login-validate}" method="post">
            <h2>Inicio de sesión</h2>
            <input type="text" name="username" placeholder="Nombre de Usuario" required />
            <input type="password" name="password" placeholder="Ingrese su contraseña" required />
            <a class="type-name-link" style="text-align: left; display: block; width: 100%; margin: 10px 0px 20px">Recuperar contraseña!</a>
            <button type="submit" >Iniciar Sesión</button>
            <div th:if="${loginError}" >
                <p class="error-message" th:text="${loginError}"></p>
            </div>
        </form>
    </div>
    <div class="form-container sign-up-container">
        <form th:action="@{/usuarios/register}" method="post">
            <h2>Registro de usuario</h2>
            <input type="text" id="usuario" name="usuario" placeholder="Nombre de usuario"  required/>
            <input type="email" id="correo" name="correo" placeholder="Correo electronico"  required/>
            <input type="password" id="pwd" name="pwd" placeholder="Contraseña" required minlength="8" />
            <input type="password" name="password2" placeholder="Confirme su contraseña" required />
            <button type="submit">Registrarse</button>
            <!-- Mensaje de error -->
            <div th:if="${registerError}" >
                <p class="error-message" th:text="${registerError}"></p>
            </div>

        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>¡Bienvenido de nuevo!</h1>
                <p>Accede a tu cuenta para gestionar tus operaciones contables y mantenerte conectado con nuestro sistema.</p>
                <button class="ghost" id="signIn">Iniciar sesión</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>¡Hola, qué tal!</h1>
                <p>Regístrate ingresando tus datos personales y comienza a administrar tu contabilidad con nuestro sistema.</p>
                <button class="ghost" id="signUp">Registrarse</button>
            </div>
        </div>
    </div>

    <!-- Radio buttons para móviles -->
    <div class="mobile-nav">
        <div class="radio-button active" id="mobileSignIn">
            <div class="radio-circle"></div>
            <span>Iniciar Sesión</span>
        </div>
        <div class="radio-button" id="mobileSignUp">
            <div class="radio-circle"></div>
            <span>Registrarse</span>
        </div>
    </div>
</div>



<script th:src="@{/js/auth.js}"></script>
</body>
</html>